<div class="col-lg-1">
    <div class="card text-center" style="width: 50rem;">
        <!-- Titre du formulaire de contact -->
        <div class="card-header">
            <h2 class="card-title"> Contactez-nous</h2>
          </div>
        <!-- Formulaire de contact -->
        <div class="card-body">
            <!-- Utilisation de Formcarry pour traiter les messages -->
            <form action="https://formcarry.com/s/OD_7Wz2HnN" method="POST">
                <!-- Nom de l'utilisateur -->
                <h4> Votre nom </h4>
                <input type="text" name="name" id="name">
                <br><br>
                <!-- Email de l'utilisateur -->
                <h4>Votre email </h4>
                <input type="email" name="email" id="email">
                <br><br>
                <!-- Message de l'utilisateur -->
                <h4>Votre message</h4>
                <textarea name="message" class="textarea" cols="50" rows="4"></textarea>
                <br><br>
                <!-- Bouton pour envoyer le formulaire -->
                <button class="btn btn-success animation-on-hover" type="submit" value=“Envoyer”>Envoyer</button>
            </form>
        </div>
    </div>
</div>

                                          
