#paroles {
    color: white; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px; 
}
.parole {
    width: 40%;
    margin-left: 10%;
}
#suggestions {
    color: white; 
    text-align: center;
}
#titreCartes {
    font-size : 23px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(78, 228, 241); 
}
#titreCarteParoles{
    font-size : 23px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(78, 228, 241);
}
#texteSaisie{
    color: white; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px; 
}