<div class = "col-lg-8">
    <div class="card text-left" style="width: 50rem;">
        <!-- Titre A propos -->
        <div class="card-header">
            <h2 class="card-title">A propos</h2>
        </div>
        <!-- Texte A propos : membres du groupe et fonctionnalités de l'application -->
        <div class="card-body" class="description">
            ZikiFy a été créé par Anaïs Mottier, Mathilde Mottay et Nathan Tessier, trois étudiants en 3ème année de Licence Informatique à l'Université du Mans, dans le cadre d'un projet sur les modules "Architectures logicielles pour le développement d'applications Web" et "Interfaces Homme-Machines".
            <br><br>
            ZikiFy permet à l'utilisateur : 
            <ul>
                <li>d'écouter de la musique via YouTube ou Spotify,</li>
                <li>de trouver les paroles d'une chanson et obtenir des suggestions,</li>
                <li>d'accéder à des informations sur un artiste,</li>
                <li>de connaitre les dates des prochains concerts.</li>
            </ul>
            <br>
            L'application fonctionne grâce à plusieurs API : Spotify, YouTube, Lyrics.ovh, Music Story et tm-developer.
        </div>    
    </div>
</div>
